# Starter

In [18]:
name = 'laura'
name

'laura'

In [15]:
name = 'laura'
name.capitalize()

'Laura'

In [19]:
name[0]

'l'

In [20]:
name[-1]

'a'

In [21]:
name[1:]

'aura'

In [22]:
name[::2]

'lua'

In [23]:
name*2

'lauralaura'

In [27]:
import pandas as pd

df = pd.read_csv('iris_dataset.csv')

df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [29]:
name.islower()

True

In [31]:
name = 'LAURA'

In [32]:
name.islower()

False

In [35]:
if name.isupper():
    print ('The name is uppercase')

The name is uppercase

In [37]:
if not name.isupper():
    print ('The name is not uppercase')
    print ('The name is lowercase')

# Practical lab activity