# Starter

In [15]:
import pandas as pd

df = pd.read_csv("iris_dataset.csv")

# Print the DataFrame
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## Practical Lab Activity

In [16]:
'Hello world'

'Hello world'

In [21]:
print('Hello world!')

Hello world!

In [22]:
"Hello world!"

'Hello world!'

In [40]:
username = 'Bob'
age = 32
print(username,'is',age,'years old')

Bob is 32 years old

In [45]:
username = 'Bob'
age = 32
print(username+'is'+str(age)+'years old')

Bobis32years old

In [57]:
username = input('Please enter your name ')
age = input('Please enter your age ')
print(username,'is',age,'years old')

Please enter your name Laura
Please enter your age 31
Laura is 31 years old

In [49]:
print (50 // 6)

8

In [68]:
#### To know how much is the rest:
50%6

2

In [52]:
length = int(input('Please enter the length: '))

Please enter the length: 6

In [53]:
width = int(input('Please enter the width: '))

Please enter the width: 2

In [58]:
perimeter = 2 * length + 2 * width

perimeter

16

In [63]:
age = 32
type(age)

int

In [65]:
str(age)

'32'

In [66]:
age

32

In [67]:
age = str(age)
type(age)

str