## Lists, Sets and Dictionaries

### Lists:

In [38]:
a = []

In [39]:
b = [1, "string", True, 2.3]

In [40]:
b[0]

1

In [41]:
b[-1]

2.3

In [42]:
b[1]

'string'

In [43]:
b[2]

True

In [44]:
b[-4]

1

In [45]:
b[-3:]  #Everything starting from -3 till the end of the list

['string', True, 2.3]

In [46]:
b[1:]

['string', True, 2.3]

In [47]:
b.append("test")  #We use append to add an additional item to the list

In [48]:
b

[1, 'string', True, 2.3, 'test']

In [49]:
b.append("5")

In [50]:
b

[1, 'string', True, 2.3, 'test', '5']

In [51]:
b.insert(2, "myinsert")  #We use 'insert' to add anything in an specific position

In [52]:
b

[1, 'string', 'myinsert', True, 2.3, 'test', '5']

In [53]:
len(a)  #We use 'len' to determine the lengh of the string

0

In [54]:
len(b)

7

In [57]:
b[1:2] = [2]  #For replacing the word 'string' for a number 2.

In [58]:
b

[1, 2, 'myinsert', True, 2.3, 'test', '5']

In [59]:
b[1:2] = ["False"]  #For replacing the number 2 for the word 'false'

In [60]:
b

[1, 'False', 'myinsert', True, 2.3, 'test', '5']

In [61]:
b[4:5] = ["string", 4]  #For replacing number 2.3 for the word 'string' and a number 4

In [62]:
b

[1, 'False', 'myinsert', True, 'string', 4, 'test', '5']

In [65]:
b[4:6] = []  #We can use the replace method with an empty list for deleting items

In [66]:
b

[1, 'False', 'myinsert', True, '5']

In [67]:
del(b[1])  #We can delete items with this method too

In [68]:
b

[1, 'myinsert', True, '5']

In [69]:
c = [a, b]

In [72]:
c[0]  #I'm calling item 0 from the list c, which is a.

[]

In [73]:
c[1]  #I'm calling item 1 from the list c, which is b.

[1, 'myinsert', True, '5']

In [75]:
c  #I'm calling list c.

[[], [1, 'myinsert', True, '5']]

In [77]:
c[1][2]  #I'm calling item 1 from list c, and then item 2 from list b (item 1 in list c).

True

In [78]:
c.append(c)  #I have append c to c list, so it will repet itself so on and so on
c

[[], [1, 'myinsert', True, '5'], [...]]

In [79]:
c[2]  #Now I'm calling item 2 of c list, which is c list it self.

[[], [1, 'myinsert', True, '5'], [...]]

In [80]:
c[2][0]  #Now I have called item in position 2 of c list, and then item 0 from item 2 (c list).

[]

In [81]:
c[2][1][1]

'myinsert'

### Sets:

In [82]:
b  #Here I'm just calling b

[1, 'myinsert', True, '5']

In [83]:
b.append(1)

In [85]:
b.append(1)

In [86]:
b.append(1)

In [87]:
b  #I have called b after adding multiple identical values

[1, 'myinsert', True, '5', 1, 1, 1]

In [ ]:
#Now we are going to mantain an unorder collection of only unique numbers with Python Sets

In [88]:
a = set()  #For this we can use the 'set' word

In [89]:
b = {1,"string", 2.3, 1, 1, True}  #Or we can use these curly brackets

In [90]:
b  #Now when we call b we notice that all the items are unique and that it didn't mantain the order.

{1, 2.3, 'string'}

In [91]:
#We can also see that the item true has dissapeard, because true is iqual to 1.